{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
{% if not user.is_authenticated %}
<div class="float-right mr-5"><p><a href="{% url 'account_login' %}">Login</a></p></div>
{% else %}
<div class="float-right mr-5"><p><a href="{% url 'account_logout' %}">Logout</a></p></div>
{% endif %}

<div class="col-9">
 <form method="POST" action="." enctype="multipart/form-data">
                    {% csrf_token %}
      {% bootstrap_form form %}

               <button type="submit" class="btn btn-primary mt-5">Save</button>

              </form>
</div>

</body>
</html>